 
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&subset=latin-ext');



 .button {
	 text-decoration: none;
	 font-size: 0.875rem;
	 font-weight: 300;
	 text-transform: uppercase;
	 display: inline-block;
	 border-radius: 1.5rem;
	 background-color: #fff;
	 color: #9191e9;
	 padding: 1rem 2rem;
}
 .popup {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 position: fixed;
	 width: 100vw;
	 height: 100vh;
	 bottom: 0;
	 right: 0;
	 background-color: rgba(0, 0, 0, .80);
	 z-index: 2;
	 visibility: hidden;
	 opacity: 0;
	 overflow: hiden;
	 transition: 0.64s ease-in-out;
}
 .popup-inner {
	 position: relative;
	 bottom: -100vw;
	 right: -100vh;
	 display: flex;
	 align-items: center;
	 max-width: 800px;
	 max-height: 600px;
	 width: 60%;
	 height: 80%;
	 background-color: #fff;
	 transform: rotate(32deg);
	 transition: 0.64s ease-in-out;
}
 .popup__photo {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 width: 50%;
	 height: 100%;
	 overflow: hidden;
}
 .popup__photo img {
	 width: auto;
	 height: 80%;
}
 .popup__text {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 width: 50%;
	 height: 100%;
	 padding: 4rem;
}
 .popup__text h1 {
	 font-size: 2rem;
	 font-weight: 600;
	 margin-bottom: 2rem;
	 text-transform: uppercase;
	 color: rgb(87, 67, 38);
}
 .popup__text p {
	 font-size:   1rem;
	 color: #6b6359;
	 line-height: 1.5;
}
 .popup:target {
	 visibility: visible;
	 opacity: 1;
}
 .popup:target .popup-inner {
	 bottom: 0;
	 right: 0;
	 transform: rotate(0);
}
 .popup__close {
	 position: absolute;
	 right: -1rem;
	 top: -1rem;
	 width: 3rem;
	 height: 3rem;
	 font-size: 0.875rem;
	 font-weight: 300;
	 border-radius: 100%;
	 background-color: #0a0a0a;
	 z-index: 4;
	 color: #fff;
	 line-height: 3rem;
	 text-align: center;
	 cursor: pointer;
	 text-decoration: none;
}
 
#staff-modals .social a
{
    background: #fbf3e9;
    color: #625243;
    line-height: 1;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding-top: 9px;
}

#staff-modals .social a:hover
{
    background: #d9a86c;
    color: #fff;
}


@media screen and (max-width: 768px) {
	html, body {
		font-size: 12px;
   }
   .popup-inner {
	   flex-direction: column;
	   margin: 5px;
   }
   .popup__text {
		padding: 20px;
   }
}